<!DOCTYPE html>
<html>
<head>
    <title>Emails</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
     <script src="static/js/emails.js"></script>
    <link rel="stylesheet" href="static/css/emails.css">
</head>
<body>
    <h1>Аварии</h1>
     <button id="rootLinkButton" class="button">Активные</button>
<button id="falseLinkButton" class="button">Закрытые</button>
<button id="deviceLinkButton" class="button">Устройства</button>
    <table id="emailTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Объект</th>
            <th>Адрес</th>
            <th>Авария</th>
            <th>Время блока</th>
            <th>Время Сервера</th>
            <th>Комментарий</th>
            <th>Статус</th>
            <th>Поле для комментария</th>
        </tr>
        </thead>
        <tbody>
        {% for email in res %}
        <tr title="{{email[0]}}">
            {% for cell in email[0:-3] %}
            <td>{{ cell }}</td>
            {% endfor %}
            <td title="{{email[-2]}}">{{email[-3]}}</td>
            <td>
            <select class="{{email[-1]}}" onchange="addStatus(this)">
                  <option value="Cheked" class="Cheked">Cheked</option>
                  <option value="Control" class="Control">Control</option>
                <option value="Order" class="Order">Order</option>
                <option value="Comment" class="Comment">Comment</option>
                 <option selected disabled value="{{email[-1]}}" >{{ email[-1] }}</option>
                <option value="-">Пусто</option>
            </select>
            </td>
            <td class="cellWithButton">
                <input type="text" class="newText" onchange="addNewTextON(this)">
                <button class= "button_add" onclick="addNewText(this)">Add</button>
            </td>

        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="foot">
        <th>ID</th>
            <th>Объект</th>
            <th>Адресс</th>
            <th>Авария</th>
            <th>Время блока</th>
            <th>Время Сервера</th>
            <th>Комментарий</th>
            <th>Статус</th>
            <th>Поле для комментария</th>
        </tfoot>
    </table>


</body>
</html>
