<!DOCTYPE html>
<html>
<head>
    <title>Emails</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
     <script src="static/js/emails.js"></script>
    <link rel="stylesheet" href="static/css/emails.css">
</head>
<body>
    <h1>Аварии</h1>
     <button id="rootLinkButton" class="button">Активные</button>
<button id="falseLinkButton" class="button">Закрытые</button>
<button id="deviceLinkButton" class="button">Устройства</button>
    <table id="emailTable">
        <thead>
        <tr>
            <th>ID dev</th>
            <th>subject</th>
            <th>addr</th>
            <th>alarm</th>
            <th>time</th>
            <th>occurred</th>
            <th>comment</th>
            <th>status</th>
            <th>add comment</th>
        </tr>
        </thead>
        <tbody>
        {% for email in res %}
        <tr>
            {% for cell in email[:-2] %}
            <td>{{ cell }}</td>
            {% endfor %}
            <td title={{email[-2]}}>{{email[-2]}}</td>
            <td>
            <select class="{{email[-1]}}" onchange="addStatus(this)">
                  <option value="cheked">cheked</option>
                  <option value="control">control</option>
                <option value="order">order</option>
                 <option selected disabled value="{{email[-1]}}">{{ email[-1] }}</option>
                <option value="-">Удалить</option>
            </select>
            </td>
            <td>
                <input type="text" class="newText" onchange="addNewTextON(this)">
                <button onclick="addNewText(this)">Add</button>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>


</body>
</html>
