<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  select{
  width: 150px;
      padding: 10px;
      background-color: white;
      color: black;
  }
    .one {
      width: 150px;
      padding: 10px;
      background-color: blue;
      color: white;
    }

    .two {
      width: 150px;
      padding: 10px;
      background-color: red;
      color: white;
    }
  </style>

  <script>
    function addStatus(select) {
      var selectedValue = select.value;
      select.className = selectedValue;
    }
  </script>
  <title>Select Background Color Example</title>
</head>
<body>
  <select onchange="addStatus(this)">
    <option value="one">Blue</option>
    <option value="two">Red</option>
  </select>
</body>
</html>
